@model AuctionProject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="files" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceStart" class="control-label"></label>
                <input asp-for="PriceStart" class="form-control" />
                <span asp-validation-for="PriceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceEnd" class="control-label"></label>
                <input asp-for="PriceEnd" class="form-control" />
                <span asp-validation-for="PriceEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceJump" class="control-label"></label>
                <input asp-for="PriceJump" class="form-control" />
                <span asp-validation-for="PriceJump" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFinish" class="control-label"></label>
                <input asp-for="PriceFinish" class="form-control" />
                <span asp-validation-for="PriceFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
